@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background: linear-gradient(
        to right,
        grey,
        white
    );
}

.card{
    width:400px;
    background:rgb(74, 71, 71);
    padding:25px;
    border-radius:10px;
}

.card img{
    display: block;
    margin: 0 auto;
    width:100%;
    border-radius:10px;
}

h2{
    line-height: 1.8;
    text-align: center;
    margin:15px 0;
    color:rgb(255, 252, 252);
    font-family: 'Lora';
}
h4{
    line-height: 1.5;
}

h3{
    text-align: center;
    color:rgb(173, 190, 186);
    font-size:24px;
    margin-bottom:15px;
}

button{
    display:block;
    margin:20px auto;
    animation: float 3s infinite ease-in-out;
    background:rgb(158, 158, 158);
    border:none;
    padding:10px 30px;
    border-radius:8px;
    cursor:pointer;
}
button:hover{
    background-color: rgb(243, 243, 243);
}
button{
    animation: melayang 2s infinite ease-in-out;
}

@keyframes melayang{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-10px);
    }

    100%{
        transform: translateY(0);
    }
}
